$accent: #005f9e;
$background: #0d1117;
$black: #000000;
$primary: #1888dc;
$white: #e6edf3;

:export {
  accent: $accent;
  background: $background;
  black: $black;
  primary: $primary;
  white: $white;
}
