$black: #000000;
$danger: #e72d4b;
$info: #0c88ce;
$primary: #3878df;
$success: #0ccea0;
$warning: #f4a734;
$white: #ffffff;

:export {
  black: $black;
  danger: $danger;
  info: $info;
  primary: $primary;
  success: $success;
  warning: $warning;
  white: $white;
}
