$accent: #005f9e;
$background: #0d1117;
$black: #000000;
$danger: #e72d4b;
$info: #0c88ce;
$primary: #1888dc;
$secondary: #10191d;
$success: #0ccea0;
$warning: #f4a734;
$white: #ffffff;

:export {
  accent: $accent;
  background: $background;
  black: $black;
  danger: $danger;
  info: $info;
  primary: $primary;
  secondary: $secondary;
  success: $success;
  warning: $warning;
  white: $white;
}
