.header-wrapper {
  align-items: center;
  background: $black;
  border-bottom: 1px solid rgba($white, 0.2);
  color: $white;
  display: flex;
  gap: 20px;
  height: 100px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}
